data/raw/*
data/processed/cancer_projects.csv
data/processed/cancer_projects_full.csv

paper/
presentations/
literature/

experiment_analysis/materials/web/jspsych-6.0.5
experiment_analysis/materials/web/debrief.doc
experiment_analysis/materials/web/debrief.pdf
experiment_analysis/materials/web/consent.pdf
experiment_analysis/materials/web/campaign_src

.idea

*/.ipynb_checkpoints
.Rproj.user
.RData
.Rhistory

.DS_Store
*/.DS_Store

*.h5
