data/raw/*
data/processed/cancer_projects.csv
data/processed/cancer_projects_full.csv

paper/

experimental/experiment_design/check.psd
experimental/experiment_design/consent.docx
experimental/experiment_design/debrief.doc

exploration/labeling_times.txt

URC Presentation.pptx
Model Selection.docx

reports/*.png

*.pdf

.idea

*/.ipynb_checkpoints
*.Rproj
.Rproj.user
.RData
.Rhistory

.DS_Store
*/.DS_Store

*.h5
